# Herramientas base de instalación
pip>=25.3
setuptools>=70.0
wheel>=0.43

# Librería correcta para Gemini
google-genai==0.1.0

# Framework web y servidor
Flask==3.0.3
gunicorn==22.0.0

# Base de datos y ORM
psycopg2-binary==2.9.9
sqlalchemy==2.0.30

# Utilidades
faker==25.2.0
flask-cors==4.0.1
pandas==2.2.2
openpyxl==3.1.2
python-dotenv==1.0.1
